In [1]:
# Import dependencies
import pandas as pd
import numpy as np
# Set the column width
pd.set_option('max_colwidth', 400)

In [2]:
#Extract the crowdfunding.xlsx Data

In [3]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [4]:
# Read the category CSV into a Pandas DataFrame
Category = pd.read_csv('Resources/category.csv')
Category.head

<bound method NDFrame.head of   category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism>

In [5]:
# Read the sub-category CSV into a Pandas DataFrame
Sub_Category = pd.read_csv('Resources/subcategory.csv')
Sub_Category.head

<bound method NDFrame.head of    subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio>

In [6]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df.
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [7]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df.rename(columns={
    'blurb': 'description',
    'launched_at': 'launch_date',
    'deadline': 'end_date'
}, inplace=True)

campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [8]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df['goal'] = pd.to_numeric(campaign_df['goal'], errors='coerce')
campaign_df['pledged'] = pd.to_numeric(campaign_df['pledged'], errors='coerce')
campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   description              1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launch_date              1000 non-null   int64
 11  end_date                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

In [9]:
# Format the launch_date and end_date columns to datetime format
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], errors='coerce')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], errors='coerce')
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,False,False,theater/plays

In [12]:
print(campaign_df.columns)

Index(['cf_id', 'contact_id', 'company_name', 'description', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launch_date',
       'end_date', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [13]:
#Split the 'category & sub-category' column into two separate columns: 'category' and 'subcategory'
campaign_df[['category', 'subcategory']] = campaign_df['category & sub-category'].str.split(' & ', expand=True)
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,False,False,food/food trucks,food/food trucks,None
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,False,True,music/rock,music/rock,None
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,False,False,technology/web,technology/web,None
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,False,False,music/rock,music/rock,None
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,False,False,theater/plays,theater/plays,None

In [16]:
print(campaign_df[['category', 'subcategory']].head())

           category subcategory
0  food/food trucks        None
1        music/rock        None
2    technology/web        None
3        music/rock        None
4     theater/plays        None

In [17]:
# Split the 'category & sub-category' column by '/' and create two new columns: 'category' and 'subcategory'
campaign_df[['category', 'subcategory']] = campaign_df['category & sub-category'].str.split('/', expand=True)
campaign_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,False,False,food/food trucks,food,food trucks,NaN
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,False,True,music/rock,music,rock,NaN
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,False,False,technology/web,technology,web,NaN
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,False,False,music/rock,music,rock,NaN
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,False,False,theater/plays,theater,plays,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1970-01-01 00:00:01.609221600,1970-01-01 00:00:01.622350800,False,True,food/food trucks,food,food trucks,NaN
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1970-01-01 00:00:01.634274000,1970-01-01 00:00:01.638252000,False,False,theater/plays,theater,plays,NaN
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1970-01-01 00:00:01.636174800,1970-01-01 00:00:01.639116000,False,False,theater/plays,theater,plays,NaN
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1970-01-01 00:00:01.602133200,1970-01-01 00:00:01.618117200,False,True,music/indie rock,music,indie rock,NaN
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1970-01-01 00:00:01.609308000,1970-01-01 00:00:01.629262800,False,False,food/food trucks,food,food trucks,NaN

In [20]:
# Map category_id from the category DataFrame
category_mapping = dict(zip(Category['category'], Category['category_id']))
campaign_df['category_id'] = campaign_df['category'].map(category_mapping)
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,False,False,food/food trucks,food,food trucks,cat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,False,True,music/rock,music,rock,cat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,False,False,technology/web,technology,web,cat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,False,False,music/rock,music,rock,cat2
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,False,False,theater/plays,theater,plays,cat4

In [22]:
subcategory_mapping = dict(zip(Sub_Category['subcategory'], Sub_Category['subcategory_id']))
campaign_df['subcategory_id'] = campaign_df['subcategory'].map(subcategory_mapping)
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,False,False,food/food trucks,food,food trucks,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,False,True,music/rock,music,rock,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,False,False,technology/web,technology,web,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,False,False,music/rock,music,rock,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,False,False,theater/plays,theater,plays,cat4,subcat4

In [23]:
# Drop the unwanted columns including 'staff_pick' and 'spotlight'
campaign_df.drop(columns=['staff_pick', 'spotlight', 'category & sub-category'], inplace=True)
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category,subcategory,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,food,food trucks,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,music,rock,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,technology,web,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,music,rock,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,theater,plays,cat4,subcat4

In [24]:
# Export the campaign DataFrame as 'campaign.csv'
campaign_df.to_csv('campaign.csv', index=False)

# Confirm that the file has been saved
print("campaign.csv has been exported successfully.")

campaign.csv has been exported successfully.